/* =============================================================================================== */
/* =====================================  MEDIA QUERIES  ========================================= */
/* =============================================================================================== */
	/* Begining With Desktop Media Queries & Ending With Tablet & Phone SCREEN VIEW ONLY */







/* ===================================================================================== */
/* ONE SIZE LARGER - LARGE DESKTOP VIEW ------------------------------------------------ */
/* Portrait / Landscape */
@media screen and (min-width: 1300px) and (max-width: 2000px) {

	/* UNIVERSAL PAGE SETTINGS =========================================== */
	/* ------------------------------------------------------------------- */
	.page-heading {
		font-size: 36px;
	}

	/* INDEX.HTML ======================================================== */
	/* ------------------------------------------------------------------- */
	#main-title{
		margin-top:21%;
	}

	#main-title h1{
		font-size: 95px;
	}

	#main-title p{
		font-size:30px;
	}

	/* ABOUT.HTML ======================================================== */
	/* ------------------------------------------------------------------- */
	#about-01{
		margin-top:5%;
		margin-bottom:5%;
		height:820px;
	}

	.about-statement-00 h1{
		padding-top:8%;
	}

	/* second section - right image div  */
	.right-div{
		width:40%;
		float:left;
		margin:5%;
	}

	.right-div img{
		width:75%;
		margin:5% 10%;
	}

	/* PORTFOLIO.HTML ==================================================== */
	/* ------------------------------------------------------------------- */
	/* on hover overlay */
	.overlay p{
		margin-top:10%;
	}

	/* SECTION 01 ---------------------------- */
	/* display image  01 */
	.portfolio-01 img{
		width:30%;
		margin-left:10%;
	}

	.overlay-01 {
		margin-top:-25.4%;
	}

	/* SECTION 02 ---------------------------- */
	.statement-02{
		margin-top:-16%;
	}

	/* display image  02 */
	.portfolio-02 img {
		width:35%;
		margin:1% 5% 0 60%;
	}

	/* top on hover overay 02 */
	.overlay-02 {
		margin-top:-22.7%;
	}


} /* end of large desktop view */






/* ===================================================================================== */
/* ONE SIZE SMALLER - MINIMIZING CURRENT STYLE.CSS ------------------------------------- */
/* Portrait / Landscape */
@media screen and (min-width: 768px) and (max-width: 1000px) {

	/* NAV BAR =========================================================== */
	/* ------------------------------------------------------------------- */
	.nav ul{
		margin:-5% 3%;
	}

	/* UNIVERSAL PAGE HEADER SETTINGS ==================================== */
	/* ------------------------------------------------------------------- */
	.page-heading {
		padding: 10% 0 2% 0%;
	}


	/* ABOUT.HTML SETTINGS - PROFILE IMG ================================= */
	/* ------------------------------------------------------------------- */
	.right-div img{
		margin:40% 1%;
	}

	/* PORTFOLIO.HTML SETTINGS =========================================== */
	/* ------------------------------------------------------------------- */
	/* SECTION 00 -------------------------- */
	.statement-00{
		font-size: 40px;
		padding-top:12%;
	}

	.overlay p{
		margin-top:15%
	}

	/* SECTION 01 -------------------------- */
	.statement-01{
		font-size: 27px;
		width:39%;
		margin:10% 9% 0 0;
	}

	/* display image  01 */
	.portfolio-01 img{
		width:42%;
		margin:8% 5%
	}

	/* top on hover overay 01 */
	.overlay-01 {
		margin-top:-42.6%;
	}

	/* SECTION 002 ------------------------- */
	.statement-02{
		font-size: 27px;
		width:38%;
		margin:-26% 0 0 10%;
	}

	/* display image  02 */
	.portfolio-02 img {
		width:47%;
		margin:7% 5% 0 50%;
	}

	/* top on hover overay 02 */
	.overlay-02 {
		margin-top:-36%;
	}


} /* end of small desktop view */
/* ===================================================================================== */




/* ===================================================================================== */
/* TWO SIZES SMALLER - MINIMIZING CURRENT STYLE.CSS ------------------------------------- */
/* Portrait / Landscape */
@media screen and (min-width: 324px) and (max-width: 768px) {

/* NAV BAR SETTINGS ================================================== */
	/* ------------------------------------------------------------------- */
	/* EN logo - top left forner */
	.nav h1{
		font-size: 55px;
		margin:5%;
	}

	/* nav bar */
	.nav ul{
		width:80%;
		margin:20% 10% 0 10%;
		float:none;
		text-align:center;
	}

	.nav li{
		display:block;
		float:none;
		margin: 10%;
	}

	.nav li a {
		display:block;
		color: #333;
		font-size: 30px;
		margin: 20px;
		transition: .3s ease-in-out;
	}
	
	/* rotate order of ul*/
	ul {
    	transform: rotate(180deg);
	}

	ul > li {
		transform: rotate(-180deg);
	}

	/* hamburger nav icon */
	#media-navbar-icon{
		display: initial;
		float:right;
		margin:5%;
		color:white;
		font-size:55px;
	}

	.dark-nav #media-navbar-icon{
		color:#333;
	}

	/* NAV BAR MODAL - PHONE ONLY ======================================== */
	/* ------------------------------------------------------------------- */
	.modal {
		display: none ;
		position: fixed; 
		z-index: 1; 
		left: 0;
		top: 0;
		width: 100%;
		height: 2500px;
		overflow: auto; 
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.4); 
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto; 
		border: 1px solid #888;
		width: 90%; 
		height:500px;
	}

	/* The Close Button */
	#close {
		display: initial;
		color: #333;
		float:right;
		font-size: 35px;
		margin: 5%;
		font-weight: bold;
		transition:.3s ease-in-out;
	}

	#close:hover,
	#close:focus {
		color: #2dd290;
		transition:.3s ease-in-out;
		text-decoration: none;
		cursor: pointer;
	}

	/* UNIVERSAL PAGE SETTINGS =========================================== */
	/* ------------------------------------------------------------------- */
	/* universal page heading and hr bar */
	.page-heading {
		font-size: 40px;
		padding: 20% 0 2% 0%;
		letter-spacing:4px;
	}

	/* INDEX.HTML ======================================================== */
	/* ------------------------------------------------------------------- */
	/* main title settings */
	#main-title{
		margin-top:40%;
	}

	#main-title h1{
		font-size: 60px;
	}

	#main-title p{
		font-size:30px;
	}

	/* ABOUT.HTML ======================================================== */
	/* ------------------------------------------------------------------- */
	/* about body settings -section 00 */
	#about-00 {
		margin-top:4%;
	}

	#about-01{
		margin-top:5%;
		margin-bottom:5%;
		min-height:1650px;
	}

	/* section 00 text settings ----------------------------- */
	.about-statement-00{
		 width:85%;
		 margin-left:7.5%;
	}

	.about-statement-00 h1{
		font-size: 40px;
		letter-spacing:3px;
		margin-bottom:5%;
	}

	.about-statement-00 p{
		font-size: 26px;
		line-height:35px;
	}

	/* section 01 (about-skills) ------------------------------ */
	/*  second section */
	.about-skills{
		width:80%;
		margin: 10%;
	}

	.about-skills h1{
		font-family: "Playfair Display", serif;
		font-size: 35px;
	}

	.about-skills h2{
		margin-top:-1%;
		font-size: 28px;
	}

	.about-skills p{
		font-size: 20px;
		line-height:32px;
		margin-bottom:10%;
	}

	/* social media connections */
	.social-media-links{
		text-align:center;
		margin:0;
	}

	.social-media-links ul{
		margin: 4% 0 0 0;
	}


	.social-media-links li{
		float:none;
	}

	.social-media-links li a {
		font-size: 28px;
		margin: 20px;
	}

	/* resume button */
	#resume h2{
		margin:5% 0 0 0;
	}

	#resume button{
		border: 2px solid #333;
		font-size: 18px;
		padding:15px 20px;
		margin:5% 0 0 0;
	}

	#resume button i{
		margin-right:10px;
	}

	/* profile image - about me */
	.right-div{
		width:80%;
		margin:auto;
		float:none;
	}

	.right-div img{
		width:85%;
		margin:5% 7.5%;
		float:none;
	}

	/* PORTFOLIO.HTML ==================================================== */
	/* ------------------------------------------------------------------- */
	/* resetting display stats */
	/* Section 00 ------------------------------ */
	.portfolio-leading-statement {
		display: none;
	}

	.overlay{
		display: none;
	}

	/* Meida Statement Specifics */
	.media-statement{
		display: initial;
		width:80%;
		text-align:right;
		color:white;
		float:right;
		text-transform:uppercase;
	}
	
	.media-statement h1{
		font-family: "Lato", sans-serif;
		font-size: 32px;
		font-weight:bold;
		color:white;
		letter-spacing:1.5px;
	}

	.media-statement p{
		font-family: "Lato", sans-serif;
		font-size: 22px;
		color:white;
		margin: 8% 0%;
		letter-spacing:3px;
	}

	.media-statement button{
		font-family: "Lato", sans-serif;
		letter-spacing:2.5px;
		list-style-type:none;
		text-decoration:none;
		color:white;
		border:1px solid white;
		background:none;
		padding:10px 15px;
		font-size:22px;
	}

	/* specific portfolio piece transitions ------------------------------------------- */
	/* Section 00 ---------------------------------------- */
	.statement-00{
		font-size: 36px;
		width:80%;
		text-align: center;
		margin: auto;
		letter-spacing:1px;
	}

	.portfolio-00 {
		margin-top:5%;
		height:350px;
	}

	/* Section 01 ------------------------------------------ */
	/* description statement 01 */
	.media-statement-01{
		font-size: 34px;
		width:80%;
		text-align:center;
		color:white;
		float:left;
		margin:0 10%;
	}

	/* background image and styling for paralex 01 */
	.portfolio-01 {
		height:800px;
	}

	/* display image  01 */
	.portfolio-01 img{
		margin:10% 15%;
		width:70%;
	}

	/* Section 02 --------------------------------------------- */
	/* description statement 02 */
	.media-statement-02{
		text-align:center;
		float:left;
		margin:0 10%;
		letter-spacing:1px;
	}

	/* background image and styling for paralex 02 */
	.portfolio-02 {
		height:800px;
	}

	/* display image  02 */
	.portfolio-02 img {
		margin:10%;
		width:80%;
	}

	/* CONTACT.HTML ====================================================== */
	/* ------------------------------------------------------------------- */
	/* main contact settings */
	#contact-p{
		font-size: 24px;
		margin:2% 10% 5% 10%;
		line-height:30px;
		width:80%;
	}

	#contact-body h1{
		font-size: 32px;
		letter-spacing:3px;
		margin: 10% 0 5% 0;
	}

	#contact-body h2{
		font-size: 20px;
		letter-spacing:2px;
		margin-bottom:5%;
		margin-top:5%;
	}

	/* email me button */
	#contact-body button{
		border:1px solid white;
		padding:15px 20px;
		font-size: 17px;
		letter-spacing:2px;
		margin:auto;
		margin-bottom:10%;
	}

	#contact-body hr{
		width:70%;
		border:1px solid white;
		margin:1% 15%;
	}

	/* contact social media connections */
	.contact-media-links li a {
		font-size: 28px;
		margin: 20px;
	}

} /* end of ex-small desktop view */
/* ===================================================================================== */



/* ===================================================================================== */
/* FOR TABLET SCREENS ONLY ------------------------------------------------------------- */
/* Portrait / Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
	and (-webkit-min-device-pixel-ratio: 1) {

	/* NAV BAR SETTINGS ================================================== */
	/* ------------------------------------------------------------------- */
	.nav h1{
	    font-size: 50px;
	    margin:3%;
	}

	.nav ul{
		margin:-5% 5%;
	}

	.nav li a {
	    font-size: 24px;
	}

	
	/* Page Heading Settings - Universal Page Settings =================== */
	/* ------------------------------------------------------------------- */
	.page-heading {
		padding: 15% 0 2% 0%;
	}
	

	/* INDEX.HTML SETTINGS =============================================== */
	/* ------------------------------------------------------------------- */
	#main-title{
		margin-top:55%;
		width:80%;
		margin-left:10%;
		margin-right:10%;
	}

	#main-title h1{
		font-size: 95px;
	}

	#main-title p{
		font-size:36px;
	}



	/* ABOUT.HTML SETTINGS =============================================== */
	/* ------------------------------------------------------------------- */

	.about-skills h1{
		font-size: 28px;
		margin:3% 0 -2% 0;
	}

	.about-skills h2{
		font-size: 22px;
		font-weight:bold;
		margin:2% 0 5% 0;
	}

	.about-skills p{
		margin-bottom:7%;
		font-size: 18px;
	}

	/* resume button */
	#resume h2{
		margin:2% 0 2% 0;
	}

	#resume button{
		margin-bottom: 10%;
	}
	
	/* -------------------------------------------- */
	/* second section - right div  */
	.right-div img{
		width:85%;
		margin:27% 10% 0 0;
	}



	/* PORTFOLIO.HTML SETTINGS =========================================== */
	/* ------------------------------------------------------------------- */
	/* main portfolio section settings */
	.leading-statement{
		font-size: 30px;
	}

	.portfolio-leading-statement {
		display: none;
	}

	.overlay{
		display: none;
	}

	/* Meida Statement Specifics */
	.media-statement{
		display: initial;
		width:40%;
		text-align:right;
		color:white;
		float:right;
		text-transform:uppercase;
	}
	
	.media-statement h1{
		font-family: "Lato", sans-serif;
		font-size: 32px;
		font-weight:bold;
		color:white;
		letter-spacing:1.5px;
	}

	.media-statement p{
		font-family: "Lato", sans-serif;
		font-size: 22px;
		color:white;
		margin: 8% 0%;
		letter-spacing:3px;
	}

	.media-statement button{
		font-family: "Lato", sans-serif;
		letter-spacing:2.5px;
		list-style-type:none;
		text-decoration:none;
		color:white;
		border:1px solid white;
		background:none;
		padding:10px 15px;
		font-size:20px;
	}



	/* specific portfolio piece transitions ----------------------------- */
	/* Section 00 ----------------------------------------- */
	.statement-00{
		font-size: 42px;
		width:80%;
		text-align: center;
		margin:auto;
		letter-spacing:1px;
	}

	.portfolio-00 {
		margin-top:5%;
	}


	/* Section 01 ----------------------------------------- */
	.media-statement-01{
		text-align:right;
		margin:8% 8% 0% 0%;
	}

	/* portfolio img display 01 */
	.portfolio-01 img{
		width:40%;
		margin:8% 0 0 5%;
	}

	/* Section 02 ----------------------------------------- */
	.media-statement-02{
		float:left;
		text-align:left;
		margin:-30% 0% 0% 8%;
	}

	/* portfolio img display 02 */
	.portfolio-02 img {
		width:45%;
		margin:7% 5% 0 50%;
	}





	/* CONTACT.HTML SETTINGS ============================================= */
	/* ------------------------------------------------------------------- */
	#contact-p{
		font-size: 40px;
		line-height:40px;
		width:84%;
		margin-bottom:7.5%;
	}

	#contact-body{
		width:80%;
		margin: auto;
		padding:10% 5%;
	}

	#contact-body h1{
		font-size: 42px;
		margin: 7% 0 7% 0;
	}

	#contact-body h2{
		font-size:34px;
		margin-bottom:4%;
		margin-top:4%;
	}

	#contact-body hr{
		border:1px solid #eee;
		width:80%;
		margin:1% 10%;
	}
	
	/* email me button */
	#contact-body button{
		border:2px solid white;
		padding:15px 20px;
		font-size: 26px;
		margin-bottom:4%;
	}

	/* contact social media connections */
	.contact-media-links ul{
		margin: 5% 0 3% 0;
	}

	.contact-media-links li a {
	    font-size: 46px;
	    margin: 20px;
	}


} /* end of tablet media query SCREEN ONLY  */
/* ===================================================================================== */






/* ===================================================================================== */
/* FOR PHONE SCREENS ONLY ------------------------------------------------------------- */
/* Portrait / Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {

	/* NAV BAR SETTINGS ================================================== */
	/* ------------------------------------------------------------------- */
	/* EN logo - top left forner */
	.nav h1{
		font-size: 85px;
		margin:5%;
	}

	/* nav bar */
	.nav ul{
		width:80%;
		margin:50% 10% 0 10%;
		float:none;
		text-align:center;
	}

	.nav li{
		display:block;
		float:none;
		margin: 10%;
	}

	.nav li a {
		display:block;
		color: #333;
		font-size: 70px;
		margin: 20px;
		transition: .3s ease-in-out;
	}
	
	/* rotate order of ul*/
	ul {
    	transform: rotate(180deg);
	}

	ul > li {
		transform: rotate(-180deg);
	}

	/* hamburger nav icon */
	#media-navbar-icon{
		display: initial;
		float:right;
		margin:5%;
		color:white;
		font-size:85px;
	}

	.dark-nav #media-navbar-icon{
		color:#333;
	}

	/* NAV BAR MODAL - PHONE ONLY ======================================== */
	/* ------------------------------------------------------------------- */
	.modal {
		display: none ;
		position: fixed; 
		z-index: 1; 
		left: 0;
		top: 0;
		width: 100%;
		height: 2500px;
		overflow: auto; 
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.4); 
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 15% auto; 
		border: 1px solid #888;
		width: 80%; 
		height:1200px;
	}

	/* The Close Button */
	#close {
		display: initial;
		color: #333;
		float:left;
		font-size: 80px;
		margin: 10% 0% 10% 48%;
		font-weight: bold;
	}

	#close:hover,
	#close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	/* UNIVERSAL PAGE SETTINGS =========================================== */
	/* ------------------------------------------------------------------- */
	/* universal page heading and hr bar */
	.page-heading {
		font-size: 70px;
		padding: 20% 0 2% 0%;
		letter-spacing:4px;
	}

	/* INDEX.HTML ======================================================== */
	/* ------------------------------------------------------------------- */
	/* main title settings */
	#main-title{
		margin-top:70%;
	}

	#main-title h1{
		font-size: 100px;
	}

	#main-title p{
		margin-top:3%;
		font-size:50px;
	}

	/* ABOUT.HTML ======================================================== */
	/* ------------------------------------------------------------------- */
	/* about body settings -section 00 */
	#about-00, #about-01 {
		margin-top:4%;
		height:500px;
	}

	#about-01{
		margin-top:5%;
		margin-bottom:5%;
		min-height:2300px;
	}

	/* section 00 text settings ----------------------------- */
	.about-statement-00{
		 width:85%;
		 margin-left:7.5%;
	}

	.about-statement-00 h1{
		font-size: 54px;
		letter-spacing:3px;
		margin-bottom:5%;
	}

	.about-statement-00 p{
		font-size: 38px;
		line-height:40px;
	}

	/* section 01 (about-skills) ------------------------------ */
	/*  second section */
	.about-skills{
		width:80%;
		margin: 10%;
	}

	.about-skills h1{
		font-family: "Playfair Display", serif;
		font-size: 50px;
	}

	.about-skills h2{
		margin-top:-1%;
		font-size: 30px;
	}

	.about-skills p{
		font-size: 22px;
		line-height:32px;
		margin-bottom:10%;
	}

	/* social media connections */
	.social-media-links{
		text-align:center;
		margin:0;
	}

	.social-media-links ul{
		margin: 4% 0 0 0;
	}


	.social-media-links li{
		float:none;
	}

	.social-media-links li a {
		font-size: 42px;
		margin: 30px;
	}

	/* resume button */
	#resume h2{
		margin:5% 0 0 0;
	}

	#resume button{
		border: 2px solid #333;
		font-size: 28px;
		padding:15px 20px;
		margin:5% 0 0 0;
	}

	#resume button i{
		margin-right:10px;
	}

	/* profile image - about me */
	.right-div{
		width:80%;
		margin:auto;
		float:none;
	}

	.right-div img{
		width:85%;
		margin:5% 7.5%;
		float:none;
	}

	/* PORTFOLIO.HTML ==================================================== */
	/* ------------------------------------------------------------------- */
	/* resetting display stats */
	/* Section 00 ------------------------------ */
	.portfolio-leading-statement {
		display: none;
	}

	.overlay{
		display: none;
	}

	/* Meida Statement Specifics */
	.media-statement{
		display: initial;
		width:80%;
		text-align:right;
		color:white;
		float:right;
		text-transform:uppercase;
	}
	
	.media-statement h1{
		font-family: "Lato", sans-serif;
		font-size: 32px;
		font-weight:bold;
		color:white;
		letter-spacing:1.5px;
	}

	.media-statement p{
		font-family: "Lato", sans-serif;
		font-size: 22px;
		color:white;
		margin: 8% 0%;
		letter-spacing:3px;
	}

	.media-statement button{
		font-family: "Lato", sans-serif;
		letter-spacing:2.5px;
		list-style-type:none;
		text-decoration:none;
		color:white;
		border:2px solid white;
		background:none;
		padding:10px 15px;
		font-size:32px;
	}

	/* specific portfolio piece transitions ------------------------------------------- */
	/* Section 00 ---------------------------------------- */
	.statement-00{
		font-size: 44px;
		width:80%;
		text-align: center;
		margin:auto;
		letter-spacing:1px;
	}

	.portfolio-00 {
		margin-top:5%;
	}

	/* Section 01 ------------------------------------------ */
	/* description statement 01 */
	.media-statement-01{
		font-size: 34px;
		width:80%;
		text-align:center;
		color:white;
		float:left;
		margin:0 10%;
	}

	/* background image and styling for paralex 01 */
	.portfolio-01 {
		height:1150px;
	}

	/* display image  01 */
	.portfolio-01 img{
		margin:10% 15%;
		width:70%;
	}

	/* Section 02 --------------------------------------------- */
	/* description statement 02 */
	.media-statement-02{
		text-align:center;
		float:left;
		margin:0 10%;
		letter-spacing:1px;
	}

	/* background image and styling for paralex 02 */
	.portfolio-02 {
		height:1150px;
	}

	/* display image  02 */
	.portfolio-02 img {
		margin:10%;
		width:80%;
	}

	/* CONTACT.HTML ====================================================== */
	/* ------------------------------------------------------------------- */
	/* main contact settings */
	#contact-p{
		font-size: 32px;
		margin:5% 10% 10% 10%;
		line-height:30px;
		width:80%;
	}

	#contact-body h1{
		font-size: 32px;
		letter-spacing:3px;
		margin: 10% 0;
	}

	#contact-body h2{
		font-size: 18px;
		letter-spacing:2px;
		margin-bottom:5%;
		margin-top:5%;
	}

	/* email me button */
	#contact-body button{
		border:2px solid white;
		padding:15px 20px;
		font-size: 32px;
		letter-spacing:2px;
		margin:auto;
		margin-bottom:10%;
	}

	#contact-body hr{
		width:70%;
		border:1px solid white;
		margin:1% 15%;
	}

	/* contact social media connections */
	.contact-media-links ul{
		float:left;
		margin:2% 0 7% 23%;
	}

	.contact-media-links li a {
		font-size: 60px;
		margin: 30px;
	}


} /* end media queries for phone screen ONLY */
