/* ================================================================================ */
/* MAIN BACKGROUND AND NAV SETTINGS =============================================== */
/* main body background settings */


#index-body{
 	background: url("../images/background-00.jpg");
	width:100%;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;

} 

/* ================================================================================ */
/* NAV BAR ======================================================================== */
/* nav bar settings */

#media-navbar-icon, #close{
	display: none;
}

.nav{
	height:.1px;
}

.nav h1{
	float: left;
	color: white;
    font-size: 40px;
    margin:2%;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing:3px;
}

.nav ul{
	width:100%;
	float: right;
	margin:-4% 3%;
}

.nav li{
	display: inline-block;
	float: right;
}

.nav li a {
	list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 11px;
    transition: .3s ease-in-out;
}

.nav li a:hover {
	transition: .3s ease-in-out;
    cursor: pointer;
    color:#2dd290;
	padding-bottom:5px;
}

.nav li a.active {
	color:#2dd290;
	padding-bottom:4px;
}

/* settings for dark nav bar */
.dark-nav h1{
	color: #333;
}

.dark-nav li a{
	color:#333;
}

/* ================================================================================ */
/* UNIVERSAL PAGE SETTINGS ======================================================== */
/* universal page heading and hr bar */
.page-heading {
	font-family: "Playfair Display", serif;
	font-size: 32px;
	text-align:center;
	padding: 8% 0 2% 0%;
	letter-spacing:2px;
	color:#333333;
}


/* ================================================================================ */
/* INDEX.HTML ===================================================================== */
/* main title settings */

#main-title{
	margin-top:25%;
	color:white;
	text-align: center;
}

#main-title h1{
	font-family: "Playfair Display", serif;
	font-size: 85px;
}

#main-title p{
	font-family:"Lato", sans-serif;
	text-align: center;
	margin-top:1.5%;
	font-size:28px;
	text-transform: uppercase;
}

/* ================================================================================ */
/* ABOUT.HTML ===================================================================== */
/* about body settings -section 00 */
#about-00, #about-01 {
	background: #eee;
	width:90%;
	margin-left:5%;
	margin-top:2.5%;
	height:400px;
}

#about-01{
	margin-top:5%;
	margin-bottom:5%;
	min-height:700px;
}

/* section 1 text settings */
.about-statement-00 {
	font-family:"Lato", sans-serif;
	color: #333;
	width:80%;
	margin:auto;
	text-align: center;
	letter-spacing:1px;
}

.about-statement-00 h1{
	font-family: "Playfair Display", serif;
	font-size: 44px;
	padding-top:11%;
	letter-spacing:2px;
	margin-bottom:3%;
}

.about-statement-00 p{
	font-family:"Lato", sans-serif;
	font-size: 28px;
	text-transform:uppercase;
	line-height:32px;
}

.about-statement-00 p span{
	color:#2dd290;
}


/* SECTION 2 - ABOUT.HTML ------------------------------------------------------- */
/*  second section - left div */
.about-skills{
	width:40%;
	margin:5%;
	color:#333;
	font-family:"Lato", sans-serif;
	text-align:center;
	text-transform:uppercase;
	float:left;
}

.about-skills h1{
	padding:1.5%;
	padding-bottom:3%;
	font-weight:bold;
	font-size: 28px;
	line-height:32px;
}

.about-skills h2{
	font-size: 22px;
	margin:5% 0;
}

.about-skills p{
	font-size: 16px;
	text-transform:uppercase;
	line-height:22px;
}

.about-skills img{
	width:100%;
}

/* social media connections */
.social-media-links{
	text-align:center;
}

.social-media-links li{
	margin:auto;
	display: inline-block;
}

.social-media-links li a {
	list-style-type: none;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    margin: 15px;
    transition: .3s ease-in-out;
}

.social-media-links li a:hover {
	transition: .3s ease-in-out;
    color:#2dd290;
    cursor: pointer;
}

/* resume button */
#resume h2{
	margin:7% 0 0 0;
}

#resume button{
	list-style-type: none;
	text-decoration: none;
	font-family:"Lato", sans-serif;
	border:1px solid #333;
	text-transform:uppercase;
	background:none;
	font-weight: bold;
	color:#333;
	font-size: 14px;
	padding:10px 15px;
    cursor: pointer;
    text-align: center;
  	margin:4% 0 0 0;
    transition: .4s ease-in-out;
}

#resume button i{
	margin-right:3px;
}

#resume button:hover {
    background:#333;
    border:1px solid #333;
    color:white;
    transition: .4s ease-in-out;
}

/* -------------------------------------------- */
/* second section - right div  */
.right-div{
	width:40%;
	float:left;
	margin:5%;
}

.right-div img{
	width:85%;
	margin:12% 1%;
}





/* ================================================================================ */
/* PORTFOLIO.HTML ================================================================= */
/* main portfolio section settings */
.paralex-div img {
	width:45%;
	margin:3% 5%;
}

/* DISPLAY NONE ON MEDIA LEADING STATEMENT */
.media-statement{
	display: none;
}

/* on hover overlay */
.overlay p{
	font-family: "Lato", sans-serif;
	font-size: 24px;
	text-align:right;
	color:white;
	margin-top:12%;
	text-align:center;
	letter-spacing:3px;
	text-transform:uppercase;
}

.overlay h2{
	font-family: "Playfair Display", serif;
	font-size: 54px;
	text-align:right;
	color:white;
	text-align:center;
	letter-spacing:1px;
	text-transform:uppercase;
}


/* specific portfolio piece transitions ------------------------------------------- */
/* Section 00 ------------------------------ */
.statement-00{
	font-family:"Lato", sans-serif;
	width:38%;
	color:white;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size: 44px;
	width:70%;
	margin:auto;
	padding-top:10%;
	text-align: center;
}

.portfolio-00 {
	background: url("../images/portfolio/portfolio-00.jpg");
	width:90%;
	margin:2.5% 5% 0 5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;
	transition:.4s ease-in-out;
}


/* Section 01 --------------------------------------------------------------- */
/* description statement 01 */
.statement-01{
	font-family:"Lato", sans-serif;
	font-size: 34px;
	width:38%;
	text-align:right;
	color:white;
	float:right;
	margin:7% 9% 0 0;
	letter-spacing:1px;
	text-transform:uppercase;
}

/* background image and styling for paralex 01 */
.portfolio-01 {
	background: url("../images/portfolio/portfolio-01.jpg");
	width:90%;
	margin-left:5%;
	margin-top:5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;
	transition:.4s ease-in-out;
}

/* display image  01 */
.portfolio-01 img{
	width:40%;
}

/* top on hover overay 01 */
.overlay-01 {
    position:absolute;
    width:90%;
	height:400px;
	margin-top:-32.1%;
    background-color:rgba(9, 57, 48, .95);
  	position: absolute;
  	opacity: 0;
  	-webkit-transition: background-color .35s ease-in, opacity .35s ease-in-out; 
  	transition: background-color .35s ease-in, opacity .35s ease-in-out; 
}

.paralex-div:hover .overlay-01 {
   	opacity: 1;
   	color:white;
  	-webkit-transition: background-color .35s ease-in-out, opacity .35s ease-in; 
  	transition: background-color .35s ease-in-out, opacity .35s ease-in; 
    cursor: pointer;
}

/* Section 02 --------------------------------------------------- */
/* description statement 02 */
.statement-02{
	font-family:"Lato", sans-serif;
	font-size: 34px;
	width:38%;
	text-align:left;
	color:white;
	float:left;
	margin:-24% 0 0 10%;
	letter-spacing:1px;
	text-transform:uppercase;
}

/* background image and styling for paralex 02 */
.portfolio-02 {
	background: url("../images/portfolio/portfolio-02.jpg");
	width:90%;
	margin:5% 5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;
	transition:.4s ease-in-out;
}

/* display image  02 */
.portfolio-02 img {
	width:45%;
	margin:3% 5% 0 53%;
}

/* top on hover overay 02 */
.overlay-02 {
    position:absolute;
    width:90%;
	height:400px;
	margin-top:-31%;
    background-color:rgba(99, 44, 59, .95);
  	position: absolute;
  	opacity: 0;
  	-webkit-transition: background-color .35s ease-in-out, opacity .35s ease-in-out; 
  	transition: background-color .35s ease-in-out, opacity .35s ease-in-out; 
}

.paralex-div:hover .overlay-02 {
   	opacity: 1;
   	color:white;
  	-webkit-transition: background-color .35s ease-in-out, opacity .35s ease-in-out; 
  	transition: background-color .35s ease-in-out, opacity .35s ease-in-out; 
    cursor: pointer;
}






/* ================================================================================ */
/* CONTACT.HTML =================================================================== */
/* main contact settings */
#contact-p{
	font-family:"Lato", sans-serif;
	font-size: 20px;
	color:#3a3a3a;
	text-align:center;
	letter-spacing:1px;
	margin:2% 8% 2% 8%;
	line-height:22px;
	width:84%;
}

#contact-body{
	color:#3a3a3a;
	padding:2%;
	background: url("../images/marble.jpg");
	width:85%;
	margin: 4% 10% 10% 5%;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#contact-body h1{
	font-family:"Lato", sans-serif;
	font-size: 26px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:1px;
	color:white;
	margin: 5% 0 2.5% 0;
}

#contact-body h2{
	font-family:"Lato", sans-serif;
	font-size: 22px;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:1px;
	color:white;
	margin-bottom:2.5%;
	margin-top:2.5%;
}

/* email me button */
#contact-body button{
	list-style-type:none;
	text-decoration:none;
	background:none;
	border:1px solid white;
	padding:10px 15px;
	font-family:"Lato", sans-serif;
	font-size: 16px;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:1px;
	border-radius:5px;
	color:white;
	margin-bottom:2.5%;
	transition:.3s ease-in-out;
}

#contact-body button:hover{
	background:white;
	color:#2dd290;
	border:1px solid white;
	transition:.3s ease-in-out;
}

#contact-body hr{
	border:.5px solid #eee;
	width:60%;
	margin:1% 20%;
}


/* contact social media connections */
.contact-media-links li{
	display: inline-block;
}

.contact-media-links li a {
	list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 10px;
    transition: .3s ease-in-out;
}

.contact-media-links li a:hover {
	transition: .3s ease-in-out;
    color:#2dd290;
    cursor: pointer;
}


/* CONTACT FORM SETUP ------------------------------------------------------------- */
/* form settings - FOR FUTURE DEVELOPEMENT ---------------------------------------- */
/* .contact-field{
	margin:5%;
	width:90%;
	border-radius:none;
}

label{

	margin-bottom:1%;
	font-family:"Lato", sans-serif;
	color:white;
}

input {
	font-family:"Lato", sans-serif;
    background:white;
	border:1px solid white;
    padding:10px;
    margin-bottom:2%;
    font-size: 0.9em;
    color:#3a3a3a;
}

textarea {
	font-family:"Lato", sans-serif;
    height:175px;
    background:white;
    border:1px solid white;
    padding:10px;
    margin-bottom:3%;
    font-size: 0.9em;
    color:#3a3a3a;
}

// Submit Button on Contact Page 
#submit {
	font-family:"Lato", sans-serif;
	font-weight:bold;
	border:1px solid white;
	background:none;
	color:white;
    height: 38px;
   	width:25%;
    cursor: pointer;
    text-align: center;
    margin:2% 5% 0 75%;
    transition: .4s ease-in-out;
}

#submit:hover {
    background:white;
    border:1px solid white;
    color:black;
    transition: .4s ease-in-out;
} */



